*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

.App{
  background: wheat;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas: 
  'header header header'
  'sidebar main main'
  'footer footer footer'
  ;
  grid-template-columns: 10% 90%;
  grid-template-rows: 10% 80% 10%;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  grid-area: main;
  font-size: 2rem;
}